---
import Card from './Card.astro'
import moment from 'moment/moment'
import { getLanyardInfo } from 'src/utils/lanyard'
import { DISCORD_USER } from 'src/config'

const socialIcon: object = {
  src: '/assets/logos/discord-logo.svg',
  alt: 'Discord Logo',
}

const { data } = await getLanyardInfo(DISCORD_USER)

const borderColors = {
  online: '#43b581',
  idle: '#faa61a',
  dnd: '#f04747',
  offline: '#747f8d',
}

const isCustomStatus = data.activities.filter(activity => activity.id === 'custom')
const customStatus = Array.isArray(isCustomStatus) ? isCustomStatus[0] : null

const activities = data.activities.filter(activity => activity.type === 0)
const activity = Array.isArray(activities) ? activities[0] : activities

const activityImage = `https://cdn.discordapp.com/app-assets/${activity?.application_id}/${activity?.assets?.large_image}.webp`
---

<Card
  class="md:order-10 lg:order-11 card-sm text-black dark:text-white bg-card-light dark:bg-card-dark"
  socialIcon={socialIcon}
  title={data.discord_status}>
  <div class="flex flex-col divide-y divide-[#D2D4D8] dark:divide-[#5f6368]">
    <div class="flex justify-start items-center gap-2 pb-2">
      <img
        src={`https://cdn.discordapp.com/avatars/${data.discord_user.id}/${data.discord_user.avatar}.png`}
        alt="Discord Avatar"
        class={`rounded-full w-10 h-10 sm:w-16 sm:h-16`}
        style={`border: 3px solid ${borderColors[data.discord_status]}`}
      />
      <div>
        <a class="font-bold text-sm sm:text-xl">{data.discord_user.display_name}</a>
        {
          customStatus && (
            <p class="font-light text-xs sm:text-base max-h-8 sm:max-h-none overflow-hidden hidden sm:block">
              {customStatus.emoji && <span class="mr-1">{customStatus.emoji.name}</span>}
              {customStatus.state}
            </p>
          )
        }
      </div>
    </div>
    {
      activities.length > 0 && (
        <div class="flex items-center gap-2 p-1 relative">
          <img
            src={activityImage}
            alt="Activity image"
            class="w-10 h-10 sm:w-16 sm:h-16 hidden sm:block md:hidden xl:block"
          />
          {activity.assets?.small_image && (
            <img
              src={`https://cdn.discordapp.com/app-assets/${activity.application_id}/${activity.assets.small_image}.webp`}
              alt="Activity app image"
              class="rounded-full w-6 h-6 absolute left-12 bottom-4 hidden md:hidden xl:flex"
            />
          )}
          <div>
            <h4 class="font-bold text-xs md:text-lg">{activity.name}</h4>
            <p class="font-normal text-xs sm:text-base hidden sm:block md:hidden xl:block">
              {activity.state}
            </p>
            <p class="font-normal text-xs sm:text-base hidden sm:block md:hidden xl:block">
              {activity.details}
            </p>
            <p class="font-normal text-xs sm:text-base">
              {moment(activity?.timestamps?.start).fromNow().split(' ago')[0]} elapsed
            </p>
          </div>
        </div>
      )
    }
  </div>
</Card>
